
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f6f8fc;
}

h1{
    text-align: center;
    background-color: rgb(148, 96, 245);
    color: rgb(235, 231, 21);
    border-radius: 2rem;
    padding: .50rem;
}

.content {
    padding: 1rem;  
    background-color: white ; 
    height: 100vh;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 0 auto;
        border-radius: 1rem;
    }
}

